body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom ,#f8f9fa, #e0e0e0 );
}




.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover{
    background-color: #575757;
}

aside{
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
}
aside h4{
    color: #333;

}
aside ul{
    list-style-type: none;

}
aside ul li{
    margin-bottom: 10px;

}
aside ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
aside ul li a:hover{
    color: #e74c3c;
}
.productos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.tarjeta-producto{
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    text-align: center;
    box-shadow: x 4px 8px rgba(red, green, blue, 0,5);
}

.tarjeta-producto img{
    max-width: 100%;
    height: auto;

}

.tarjeta-producto h3{
    color: #333;

}
.tarjeta-producto .precio {
    color: #e74c3c;
    font-size: 20px;
    font-weight: bold;

}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.container{
    display: flex;

}
.main-content{
    flex:1;
}